#  Descripción del análisis de causas

In [86]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import preprocessing
import matplotlib.pyplot as plt

In [87]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [88]:
pd.get_option("display.max_columns")
pd.set_option("display.max_columns", None)
#pd.set_option("display.max_columns", 20)

In [89]:
data= pd.read_csv('../Datos_2740776.csv',sep=';', header = 0)

C:\ProgramData\Anaconda3\envs\ds_sqdm_claro\lib\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (0,4,5,6,7,8,9,10,11,12,13,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [90]:
data.columns

Index(['CUENTA', 'COD_SERVICIO', 'Tipo_Servicio', 'COD_NODO', 'ESTRATO',
       'CARTERA', 'CONGELACION', 'VIAJES', 'CAPACIDAD_DE_PAGO',
       'CAUSAS_EXTERNAS', 'COMPETENCIA', 'MAL_SERVICIO', 'NO_UTILIZAR',
       'NO_GUSTO', 'SIN_MOTIVO', 'SIN_CONTACTO', 'OTROS', 'Total_Bajas', 'MES',
       'fecha', 'CHURN_TEMPRANO', 'INVOLUNTARIO', 'VOLUNTARIO', 'TIPO_RAZON',
       'MESES_ACTIVO', 'CANTIDAD_LLAMADAS', 'CANTIDAD_ADMIN',
       'CANTIDAD_TECNICO', 'CAMPANA_HBO', 'CAMPANA_FOX', 'CAMPANA_ADULTO',
       'CAMPANA_EQUIPOS_ADIC', 'CAMPANA_ULTRAWIFI', 'CAMPANA_VOZ',
       'CAMPANA_RETENCION', 'CAMPANA_AFECTACION_SRV'],
      dtype='object')

In [91]:
#data

In [92]:
data=data[data['fecha'].notnull()]

In [93]:
data['CARTERA'].value_counts()

-1    1489258
0     1235134
-1       9040
0        7343
Name: CARTERA, dtype: int64

In [94]:
data['CARTERA']=np.where(data['CARTERA']=='0',0,data['CARTERA'])
data['CARTERA']=np.where(data['CARTERA']=='-1',-1,data['CARTERA'])

In [95]:
data['CARTERA'].value_counts()

-1    1498298
 0    1242477
Name: CARTERA, dtype: int64

In [96]:
data['INVOLUNTARIO']=np.where(data['CARTERA']==0,0,-1)
data['VOLUNTARIO']=np.where(data['CARTERA']==0,-1,0)

In [97]:
#seleccionVariables=['CONGELACION','VIAJES','CAPACIDAD_DE_PAGO','CAUSAS_EXTERNAS','COMPETENCIA','MAL_SERVICIO','NO_UTILIZAR',
#                    'NO_GUSTO','SIN_MOTIVO','SIN_CONTACTO','TRASLADOS','OTROS','CAMBIO_DE_SERVICIO','CAMBIO_TARIFA','EMPAQUETAMIENTO',
#                    'CESION_DE_CONTRATO','UNIFICACION_EMPAQUETAMIENTO','Total_Bajas']
seleccionVariables=['CONGELACION','VIAJES','CAPACIDAD_DE_PAGO','CAUSAS_EXTERNAS','COMPETENCIA','MAL_SERVICIO','NO_UTILIZAR',
                    'NO_GUSTO','SIN_MOTIVO','SIN_CONTACTO','OTROS','Total_Bajas']

In [98]:
data['VIAJES'].value_counts()

0     2673140
-1      51252
0       16105
-1        278
Name: VIAJES, dtype: int64

In [99]:
#data['BAJAS_TOTAL']=data[seleccionVariables].sum(axis=1)
#data['Total_Bajas']=data[seleccionVariables].sum(axis=1)
data['Total_Bajas'].value_counts()

-1    2724392
-1      16383
Name: Total_Bajas, dtype: int64

In [100]:
data['FECHA']=data['fecha'].astype(int)

In [101]:
data['servicio']=data['Tipo_Servicio'].str[0]

In [102]:
###  ajustar signo variables

In [103]:
for col in seleccionVariables :
    print(col)
    data[col]=data[col].fillna(0)
    data[col]=np.where(data[col]=='0',0,np.where(data[col]=='-1',-1,data[col]))
    data[col]=data[col]*-1
    data[col]=data[col].astype(int)

CONGELACION
VIAJES
CAPACIDAD_DE_PAGO
CAUSAS_EXTERNAS
COMPETENCIA
MAL_SERVICIO
NO_UTILIZAR
NO_GUSTO
SIN_MOTIVO
SIN_CONTACTO
OTROS
Total_Bajas

In [104]:
data['Total_Bajas'].value_counts()

1    2740775
Name: Total_Bajas, dtype: int64

In [105]:
data.dtypes

CUENTA                     object
COD_SERVICIO               object
Tipo_Servicio              object
COD_NODO                   object
ESTRATO                    object
CARTERA                    object
CONGELACION                 int32
VIAJES                      int32
CAPACIDAD_DE_PAGO           int32
CAUSAS_EXTERNAS             int32
COMPETENCIA                 int32
MAL_SERVICIO                int32
NO_UTILIZAR                 int32
NO_GUSTO                    int32
SIN_MOTIVO                  int32
SIN_CONTACTO                int32
OTROS                       int32
Total_Bajas                 int32
MES                        object
fecha                     float64
CHURN_TEMPRANO              int64
INVOLUNTARIO                int32
VOLUNTARIO                  int32
TIPO_RAZON                 object
MESES_ACTIVO              float64
CANTIDAD_LLAMADAS         float64
CANTIDAD_ADMIN            float64
CANTIDAD_TECNICO          float64
CAMPANA_HBO               float64
CAMPANA_FOX               float64
CAMPANA_ADULTO            float64
CAMPANA_EQUIPOS_ADIC      float64
CAMPANA_ULTRAWIFI         float64
CAMPANA_VOZ               float64
CAMPANA_RETENCION         float64
CAMPANA_AFECTACION_SRV    float64
FECHA                       int32
servicio                   object
dtype: object

In [106]:
data['CUENTA']=data['CUENTA'].astype(str)

###  Left Join con Nodos

In [107]:
data_nodo= pd.read_csv('../DAta_final_Nodo.csv',sep=';', header = 0)

In [217]:
data_nodo.columns

Index(['NODO', 'MES', 'PART_CANT_CALL', 'CANT_USER', 'PROM_VEL', 'VEL_ME_8',
       'VEL_10_25', 'VEL_30', 'VEL_40_50', 'VEL_MA_60', 'CONVERGENTE',
       'PROM_VEL_HOGAR', 'MEDIANA_VEL', 'PROM_RENTA', 'PRECIO_MEGA_CLARO_1',
       'CANTIDAD_churn', 'ANTIGUEDAD_MESES_PROM', 'ANTIGUEDAD_MESES_MED',
       'AVG_TARIFA_TIGO', 'AVG_TIGO_MEGAS', 'PRECIO_MEGA_TIGO_1',
       'AVG_TARIFA_ETB', 'AVG_ETB_MEGAS', 'PRECIO_MEGA_ETB_1',
       'AVG_TARIFA_MOVISTAR', 'AVG_MOVISTAR_MEGAS', 'AVG_MOV_MEGAS',
       'OPERADOR_TIGO_OOKLA', 'OPERADOR_ETB_OOKLA', 'OPERADOR_MOVISTAR_OOKLA',
       'SUMA_OPERADORES', 'RANK1_VEL_DWLD', 'OP_CLARO', 'CANTIDAD',
       'PENETRACION', 'OCUPACION_DW', 'OCUPACION_UP', 'ALFA', 'BETA', 'MEGA',
       'NIVEL_ALARMA_MALO', 'NIVEL_ALARMA_BUENO', 'DIVISION', 'AREA', 'ZONA',
       'CIUDAD', 'DISTRITO'],
      dtype='object')

In [108]:
#data_nodo

In [109]:
data=data.merge(data_nodo, left_on=['COD_NODO','FECHA'], right_on=['NODO','MES'], how='left')

In [110]:
data.isnull().sum().to_frame().sort_values(0,ascending=False).head(50)

                               0
CAMPANA_AFECTACION_SRV   2739362
CAMPANA_ULTRAWIFI        2739362
CAMPANA_HBO              2739362
CAMPANA_FOX              2739362
CAMPANA_EQUIPOS_ADIC     2739362
CAMPANA_ADULTO           2739362
CAMPANA_VOZ              2739362
CAMPANA_RETENCION        2739362
AVG_TARIFA_ETB           2204693
AVG_ETB_MEGAS            2204693
AVG_MOVISTAR_MEGAS       1251853
AVG_TARIFA_MOVISTAR      1251853
AVG_TIGO_MEGAS           1113164
AVG_TARIFA_TIGO          1113164
MESES_ACTIVO              597971
ALFA                      548886
VEL_ME_8                  511526
MEGA                      509491
BETA                      319718
ANTIGUEDAD_MESES_PROM     311880
ANTIGUEDAD_MESES_MED      311880
CANTIDAD_churn            311880
CANTIDAD_TECNICO          308386
CANTIDAD_ADMIN            308386
CANTIDAD_LLAMADAS         308386
RANK1_VEL_DWLD            280278
OPERADOR_TIGO_OOKLA       279847
OPERADOR_ETB_OOKLA        279847
SUMA_OPERADORES           279847
OPERADOR_MOVISTAR_OOKLA   279847
OCUPACION_DW              260538
VEL_10_25                 252949
OCUPACION_UP              223665
VEL_30                    208843
PENETRACION               204328
VEL_40_50                 204118
DISTRITO                  202557
DIVISION                  202557
AREA                      202557
ZONA                      202557
CIUDAD                    202557
VEL_MA_60                 202505
PRECIO_MEGA_ETB_1         201635
PROM_RENTA                201635
PRECIO_MEGA_TIGO_1        201635
AVG_MOV_MEGAS             201635
OP_CLARO                  201635
CANTIDAD                  201635
NIVEL_ALARMA_MALO         201635
NIVEL_ALARMA_BUENO        201635

In [111]:
maestro_data=data[['COD_NODO','DIVISION', 'AREA', 'ZONA', 'CIUDAD', 'DISTRITO']].drop_duplicates()

### Validar Solo Nodos Internet  (al final)

In [112]:
data['servicio'].value_counts()

@    992998
T    947518
V    800259
Name: servicio, dtype: int64

# SELECCION DE VARIABLES
* Alfa Tarifas
* Velocidad Beta
* Velocidad Factor Alfa
* Llamadas Admin
* Llamadas Tec
* Calidad muestras ok
* Razones

###  Descriptivo
* lugar Regional
* Churn Temprano
* Voluntario e involuntario

In [113]:
data['FECHA']

0          11
1           8
2           5
3           2
4           6
           ..
2740770     9
2740771     9
2740772     7
2740773     2
2740774     2
Name: FECHA, Length: 2740775, dtype: int32

### Calculo variables

In [114]:
### Alfa Beta

In [115]:
data[['ALFA','BETA']].describe()

               ALFA          BETA
count  2.191889e+06  2.421057e+06
mean   1.243008e+00  1.337877e+00
std    2.087959e+00  1.731921e+00
min    0.000000e+00  4.376013e-02
25%    4.483004e-01  8.394191e-01
50%    8.888663e-01  1.108597e+00
75%    1.596395e+00  1.482759e+00
max    3.215254e+02  1.330000e+02

In [116]:
#seleccion_variables=['COD_NODO','FECHA','INVOLUNTARIO','CD_BLANCOS_CAMBIOS_SERVICIO','AVG_TARIFA_TIGO','AVG_TARIFA_ETB','AVG_TARIFA_MOVISTAR','PROM_RENTA']
variables_tarifa=['AVG_TARIFA_TIGO','AVG_TARIFA_ETB','AVG_TARIFA_MOVISTAR']

In [117]:
data['comp_tarifa']=data[variables_tarifa].min(axis=1)

In [118]:
data['operador_menor_tarifa']=np.where(data['comp_tarifa']==data['AVG_TARIFA_TIGO'],'AVG_TARIFA_TIGO',
                                              np.where(data['comp_tarifa']==data['AVG_TARIFA_ETB'],'AVG_TARIFA_ETB',
                                                      np.where(data['comp_tarifa']==data['AVG_TARIFA_MOVISTAR'],'AVG_TARIFA_MOVISTAR','NINGUNO'
                                             )))

In [119]:
data['ALFA_tarifa']=np.where(data['operador_menor_tarifa']=='NINGUNO',np.nan,data['comp_tarifa']/data['PROM_RENTA'])

In [120]:
data[data['CUENTA']==2139171][['CUENTA','FECHA']+variables_tarifa+['PROM_RENTA','comp_tarifa','ALFA_tarifa']]

Empty DataFrame
Columns: [CUENTA, FECHA, AVG_TARIFA_TIGO, AVG_TARIFA_ETB, AVG_TARIFA_MOVISTAR, PROM_RENTA, comp_tarifa, ALFA_tarifa]
Index: []

In [121]:
data[['PRECIO_MEGA_CLARO_1','PRECIO_MEGA_TIGO_1','PRECIO_MEGA_ETB_1']]

         PRECIO_MEGA_CLARO_1  PRECIO_MEGA_TIGO_1  PRECIO_MEGA_ETB_1
0                1284.398058         1314.280000           0.000000
1                        NaN                 NaN                NaN
2                2207.408163         4333.333333           0.000000
3                2457.648649         1333.333333        2663.333333
4                        NaN                 NaN                NaN
...                      ...                 ...                ...
2740770          1148.521127         1050.000000           0.000000
2740771          1148.521127         1050.000000           0.000000
2740772          1188.058824            0.000000           0.000000
2740773          1784.277778         3166.666667           0.000000
2740774          1784.277778         3166.666667           0.000000

[2740775 rows x 3 columns]

In [122]:
data.columns

Index(['CUENTA', 'COD_SERVICIO', 'Tipo_Servicio', 'COD_NODO', 'ESTRATO',
       'CARTERA', 'CONGELACION', 'VIAJES', 'CAPACIDAD_DE_PAGO',
       'CAUSAS_EXTERNAS', 'COMPETENCIA', 'MAL_SERVICIO', 'NO_UTILIZAR',
       'NO_GUSTO', 'SIN_MOTIVO', 'SIN_CONTACTO', 'OTROS', 'Total_Bajas',
       'MES_x', 'fecha', 'CHURN_TEMPRANO', 'INVOLUNTARIO', 'VOLUNTARIO',
       'TIPO_RAZON', 'MESES_ACTIVO', 'CANTIDAD_LLAMADAS', 'CANTIDAD_ADMIN',
       'CANTIDAD_TECNICO', 'CAMPANA_HBO', 'CAMPANA_FOX', 'CAMPANA_ADULTO',
       'CAMPANA_EQUIPOS_ADIC', 'CAMPANA_ULTRAWIFI', 'CAMPANA_VOZ',
       'CAMPANA_RETENCION', 'CAMPANA_AFECTACION_SRV', 'FECHA', 'servicio',
       'NODO', 'MES_y', 'PART_CANT_CALL', 'CANT_USER', 'PROM_VEL', 'VEL_ME_8',
       'VEL_10_25', 'VEL_30', 'VEL_40_50', 'VEL_MA_60', 'CONVERGENTE',
       'PROM_VEL_HOGAR', 'MEDIANA_VEL', 'PROM_RENTA', 'PRECIO_MEGA_CLARO_1',
       'CANTIDAD_churn', 'ANTIGUEDAD_MESES_PROM', 'ANTIGUEDAD_MESES_MED',
       'AVG_TARIFA_TIGO', 'AVG_TIGO_MEGAS', 'PRECIO_MEGA_TIGO_1',
       'AVG_TARIFA_ETB', 'AVG_ETB_MEGAS', 'PRECIO_MEGA_ETB_1',
       'AVG_TARIFA_MOVISTAR', 'AVG_MOVISTAR_MEGAS', 'AVG_MOV_MEGAS',
       'OPERADOR_TIGO_OOKLA', 'OPERADOR_ETB_OOKLA', 'OPERADOR_MOVISTAR_OOKLA',
       'SUMA_OPERADORES', 'RANK1_VEL_DWLD', 'OP_CLARO', 'CANTIDAD',
       'PENETRACION', 'OCUPACION_DW', 'OCUPACION_UP', 'ALFA', 'BETA', 'MEGA',
       'NIVEL_ALARMA_MALO', 'NIVEL_ALARMA_BUENO', 'DIVISION', 'AREA', 'ZONA',
       'CIUDAD', 'DISTRITO', 'comp_tarifa', 'operador_menor_tarifa',
       'ALFA_tarifa'],
      dtype='object')

In [123]:
data['ALFA_tarifa'].describe()

count    1.686762e+06
mean     1.010478e+00
std      2.085272e-01
min      3.469364e-01
25%      8.650402e-01
50%      9.893241e-01
75%      1.140080e+00
max      2.918921e+00
Name: ALFA_tarifa, dtype: float64

### Llamadas

In [124]:
llamadas= pd.read_csv('../Data_final_llamadas.csv',sep=';', header = 0)
#llamadas2= pd.read_csv('Cantidad_llamadas_v2.csv',sep=';', header = 0)

In [125]:
llamadas

,CUENTA,NODO,MES,ANIO,CANTIDAD,CANTIDAD_TECNICO,CANTIDAD_ADMIN
0,91181076,HVILVX,1,2021,3,0,3
1,88445689,OD4,1,2021,2,0,2
2,40132405,GM1,1,2021,8,2,6
3,55056827,RIV,1,2021,6,0,6
4,74445399,2DL,1,2021,1,0,1
...,...,...,...,...,...,...,...
2987474,15560535,1GV,12,2020,1,1,0
2987475,18792784,UD5,12,2020,1,1,0
2987476,31958172,C0823D,12,2020,1,0,1
2987477,81235262,ART,12,2020,1,0,1
2987478,85633348,B1N,12,2020,1,1,0

In [126]:
#llamadas=llamadas.sort_values(['CUENTA','NODO','ANIO','MES'])

In [127]:
llamadas[['CUENTA','NODO','ANIO','MES']].groupby(['CUENTA','MES','ANIO']).count().sort_values('NODO', ascending=False)

                   NODO
CUENTA   MES ANIO
1817058  9   2020     4
22823443 3   2021     3
17865737 8   2021     3
27863147 10  2020     3
69106915 9   2020     3
...                 ...
31163278 1   2021     1
         8   2021     1
         10  2021     1
         11  2021     1
99699723 10  2020     1

[2957534 rows x 1 columns]

In [128]:
llamadas[llamadas['CUENTA']==61672518].sort_values('MES')

Empty DataFrame
Columns: [CUENTA, NODO, MES, ANIO, CANTIDAD, CANTIDAD_TECNICO, CANTIDAD_ADMIN]
Index: []

In [129]:
llamadas['DIA']=1
llamadas['FECHA']=pd.to_datetime(llamadas['ANIO']*10000+llamadas['MES']*100+llamadas['DIA'], format='%Y%m%d')
llamadas['KEY']=llamadas['CUENTA'].astype(str)+'--'+llamadas['NODO'].astype(str)

In [130]:
pv_cantidad_llamadas=pd.pivot_table(llamadas, columns=['KEY'], values=['CANTIDAD'],index=['FECHA'], aggfunc=np.sum)
pv_cantidad_llamadas.columns= pv_cantidad_llamadas.columns.droplevel()
pv_cantidad_llamadas=pv_cantidad_llamadas.fillna(0).reset_index()
#pv_cantidad_llamadas

In [131]:
un_llamadas=pd.melt(pv_cantidad_llamadas, id_vars=['FECHA'], var_name='NODO', value_name='CANTIDAD_LLAMADAS')
un_llamadas=un_llamadas.sort_values(['NODO','FECHA'])
#un_llamadas

In [132]:
un_llamadas['CANT_1'] = un_llamadas.groupby(['NODO'])['CANTIDAD_LLAMADAS'].shift(1)
un_llamadas['CANT_2'] = un_llamadas.groupby(['NODO'])['CANTIDAD_LLAMADAS'].shift(2)
#un_llamadas

In [133]:
un_llamadas['Llamadas_3M']=un_llamadas[['CANTIDAD_LLAMADAS','CANT_1','CANT_2']].sum(axis=1)
un_llamadas[['CUENTA','COD_NODO']] = un_llamadas['NODO'].str.split('--',expand=True)

In [134]:
#un_llamadas=un_llamadas.rename(columns={'COD_NODO':'CUENTA','CUENTA':'COD_NODO'})
#un_llamadas['CUENTA']=un_llamadas['CUENTA'].astype('Int64')

In [135]:
len(un_llamadas)

14123744

In [136]:
un_llamadas=un_llamadas[un_llamadas['FECHA'].dt.year==2021]

In [137]:
un_llamadas['MES']=un_llamadas['FECHA'].dt.month

In [138]:
un_llamadas=un_llamadas.groupby(['CUENTA','COD_NODO','MES'])[['Llamadas_3M']].sum().reset_index()

In [139]:
un_llamadas

            CUENTA COD_NODO  MES  Llamadas_3M
0         10000099     ENC1    1         15.0
1         10000099     ENC1    2         16.0
2         10000099     ENC1    3         13.0
3         10000099     ENC1    4          1.0
4         10000099     ENC1    5          0.0
...            ...      ...  ...          ...
10592803   9999882      ONE    8         10.0
10592804   9999882      ONE    9         10.0
10592805   9999882      ONE   10          6.0
10592806   9999882      ONE   11          0.0
10592807   9999882      ONE   12          0.0

[10592808 rows x 4 columns]

In [140]:
un_llamadas.dtypes['CUENTA']

dtype('O')

In [141]:
data=data.merge(un_llamadas[['COD_NODO','CUENTA','MES','Llamadas_3M']],left_on=['COD_NODO','CUENTA','FECHA'],right_on=['COD_NODO','CUENTA','MES'],how='left')

In [142]:
data[data['CUENTA']=='10000043']

Empty DataFrame
Columns: [CUENTA, COD_SERVICIO, Tipo_Servicio, COD_NODO, ESTRATO, CARTERA, CONGELACION, VIAJES, CAPACIDAD_DE_PAGO, CAUSAS_EXTERNAS, COMPETENCIA, MAL_SERVICIO, NO_UTILIZAR, NO_GUSTO, SIN_MOTIVO, SIN_CONTACTO, OTROS, Total_Bajas, MES_x, fecha, CHURN_TEMPRANO, INVOLUNTARIO, VOLUNTARIO, TIPO_RAZON, MESES_ACTIVO, CANTIDAD_LLAMADAS, CANTIDAD_ADMIN, CANTIDAD_TECNICO, CAMPANA_HBO, CAMPANA_FOX, CAMPANA_ADULTO, CAMPANA_EQUIPOS_ADIC, CAMPANA_ULTRAWIFI, CAMPANA_VOZ, CAMPANA_RETENCION, CAMPANA_AFECTACION_SRV, FECHA, servicio, NODO, MES_y, PART_CANT_CALL, CANT_USER, PROM_VEL, VEL_ME_8, VEL_10_25, VEL_30, VEL_40_50, VEL_MA_60, CONVERGENTE, PROM_VEL_HOGAR, MEDIANA_VEL, PROM_RENTA, PRECIO_MEGA_CLARO_1, CANTIDAD_churn, ANTIGUEDAD_MESES_PROM, ANTIGUEDAD_MESES_MED, AVG_TARIFA_TIGO, AVG_TIGO_MEGAS, PRECIO_MEGA_TIGO_1, AVG_TARIFA_ETB, AVG_ETB_MEGAS, PRECIO_MEGA_ETB_1, AVG_TARIFA_MOVISTAR, AVG_MOVISTAR_MEGAS, AVG_MOV_MEGAS, OPERADOR_TIGO_OOKLA, OPERADOR_ETB_OOKLA, OPERADOR_MOVISTAR_OOKLA, SUMA_OPERADORES, RANK1_VEL_DWLD, OP_CLARO, CANTIDAD, PENETRACION, OCUPACION_DW, OCUPACION_UP, ALFA, BETA, MEGA, NIVEL_ALARMA_MALO, NIVEL_ALARMA_BUENO, DIVISION, AREA, ZONA, CIUDAD, DISTRITO, comp_tarifa, operador_menor_tarifa, ALFA_tarifa, MES, Llamadas_3M]
Index: []

#### Llamadas Admins

In [143]:
pv_cantidad_llamadas=pd.pivot_table(llamadas, columns=['KEY'], values=['CANTIDAD_ADMIN'],index=['FECHA'], aggfunc=np.sum)
pv_cantidad_llamadas.columns= pv_cantidad_llamadas.columns.droplevel()
pv_cantidad_llamadas=pv_cantidad_llamadas.fillna(0).reset_index()

In [144]:
un_llamadas=pd.melt(pv_cantidad_llamadas, id_vars=['FECHA'], var_name='NODO', value_name='ADMIN')
un_llamadas=un_llamadas.sort_values(['NODO','FECHA'])

In [145]:
un_llamadas['CANT_1'] = un_llamadas.groupby(['NODO'])['ADMIN'].shift(1)
un_llamadas['CANT_2'] = un_llamadas.groupby(['NODO'])['ADMIN'].shift(2)

In [146]:
un_llamadas['Llamadas_Admin_3M']=un_llamadas[['ADMIN','CANT_1','CANT_2']].sum(axis=1)
un_llamadas[['CUENTA','COD_NODO']] = un_llamadas['NODO'].str.split('--',expand=True)

In [147]:
un_llamadas=un_llamadas[un_llamadas['FECHA'].dt.year==2021]
un_llamadas['MES']=un_llamadas['FECHA'].dt.month

In [148]:
un_llamadas=un_llamadas.groupby(['CUENTA','COD_NODO','MES'])[['Llamadas_Admin_3M']].sum().reset_index()

In [149]:
data=data.merge(un_llamadas[['COD_NODO','CUENTA','MES','Llamadas_Admin_3M']],left_on=['COD_NODO','CUENTA','FECHA'],right_on=['COD_NODO','CUENTA','MES'],how='left')

In [150]:
data[data['CUENTA']=='10000043']

Empty DataFrame
Columns: [CUENTA, COD_SERVICIO, Tipo_Servicio, COD_NODO, ESTRATO, CARTERA, CONGELACION, VIAJES, CAPACIDAD_DE_PAGO, CAUSAS_EXTERNAS, COMPETENCIA, MAL_SERVICIO, NO_UTILIZAR, NO_GUSTO, SIN_MOTIVO, SIN_CONTACTO, OTROS, Total_Bajas, MES_x, fecha, CHURN_TEMPRANO, INVOLUNTARIO, VOLUNTARIO, TIPO_RAZON, MESES_ACTIVO, CANTIDAD_LLAMADAS, CANTIDAD_ADMIN, CANTIDAD_TECNICO, CAMPANA_HBO, CAMPANA_FOX, CAMPANA_ADULTO, CAMPANA_EQUIPOS_ADIC, CAMPANA_ULTRAWIFI, CAMPANA_VOZ, CAMPANA_RETENCION, CAMPANA_AFECTACION_SRV, FECHA, servicio, NODO, MES_y, PART_CANT_CALL, CANT_USER, PROM_VEL, VEL_ME_8, VEL_10_25, VEL_30, VEL_40_50, VEL_MA_60, CONVERGENTE, PROM_VEL_HOGAR, MEDIANA_VEL, PROM_RENTA, PRECIO_MEGA_CLARO_1, CANTIDAD_churn, ANTIGUEDAD_MESES_PROM, ANTIGUEDAD_MESES_MED, AVG_TARIFA_TIGO, AVG_TIGO_MEGAS, PRECIO_MEGA_TIGO_1, AVG_TARIFA_ETB, AVG_ETB_MEGAS, PRECIO_MEGA_ETB_1, AVG_TARIFA_MOVISTAR, AVG_MOVISTAR_MEGAS, AVG_MOV_MEGAS, OPERADOR_TIGO_OOKLA, OPERADOR_ETB_OOKLA, OPERADOR_MOVISTAR_OOKLA, SUMA_OPERADORES, RANK1_VEL_DWLD, OP_CLARO, CANTIDAD, PENETRACION, OCUPACION_DW, OCUPACION_UP, ALFA, BETA, MEGA, NIVEL_ALARMA_MALO, NIVEL_ALARMA_BUENO, DIVISION, AREA, ZONA, CIUDAD, DISTRITO, comp_tarifa, operador_menor_tarifa, ALFA_tarifa, MES_x, Llamadas_3M, MES_y, Llamadas_Admin_3M]
Index: []

## Llamadas Técnicas

In [151]:
pv_cantidad_llamadas=pd.pivot_table(llamadas, columns=['KEY'], values=['CANTIDAD_TECNICO'],index=['FECHA'], aggfunc=np.sum)
pv_cantidad_llamadas.columns= pv_cantidad_llamadas.columns.droplevel()
pv_cantidad_llamadas=pv_cantidad_llamadas.fillna(0).reset_index()
un_llamadas=pd.melt(pv_cantidad_llamadas, id_vars=['FECHA'], var_name='NODO', value_name='TEC')
un_llamadas=un_llamadas.sort_values(['NODO','FECHA'])
un_llamadas['CANT_1'] = un_llamadas.groupby(['NODO'])['TEC'].shift(1)
un_llamadas['CANT_2'] = un_llamadas.groupby(['NODO'])['TEC'].shift(2)

In [152]:
un_llamadas['Llamadas_Tecn_3M']=un_llamadas[['TEC','CANT_1','CANT_2']].sum(axis=1)
un_llamadas[['CUENTA','COD_NODO']] = un_llamadas['NODO'].str.split('--',expand=True)
un_llamadas=un_llamadas[un_llamadas['FECHA'].dt.year==2021]
un_llamadas['MES']=un_llamadas['FECHA'].dt.month
un_llamadas=un_llamadas.groupby(['CUENTA','COD_NODO','MES'])[['Llamadas_Tecn_3M']].sum().reset_index()
data=data.merge(un_llamadas[['COD_NODO','CUENTA','MES','Llamadas_Tecn_3M']],left_on=['COD_NODO','CUENTA','FECHA'],right_on=['COD_NODO','CUENTA','MES'],how='left')

In [153]:
data[data['CUENTA']=='10000043']

Empty DataFrame
Columns: [CUENTA, COD_SERVICIO, Tipo_Servicio, COD_NODO, ESTRATO, CARTERA, CONGELACION, VIAJES, CAPACIDAD_DE_PAGO, CAUSAS_EXTERNAS, COMPETENCIA, MAL_SERVICIO, NO_UTILIZAR, NO_GUSTO, SIN_MOTIVO, SIN_CONTACTO, OTROS, Total_Bajas, MES_x, fecha, CHURN_TEMPRANO, INVOLUNTARIO, VOLUNTARIO, TIPO_RAZON, MESES_ACTIVO, CANTIDAD_LLAMADAS, CANTIDAD_ADMIN, CANTIDAD_TECNICO, CAMPANA_HBO, CAMPANA_FOX, CAMPANA_ADULTO, CAMPANA_EQUIPOS_ADIC, CAMPANA_ULTRAWIFI, CAMPANA_VOZ, CAMPANA_RETENCION, CAMPANA_AFECTACION_SRV, FECHA, servicio, NODO, MES_y, PART_CANT_CALL, CANT_USER, PROM_VEL, VEL_ME_8, VEL_10_25, VEL_30, VEL_40_50, VEL_MA_60, CONVERGENTE, PROM_VEL_HOGAR, MEDIANA_VEL, PROM_RENTA, PRECIO_MEGA_CLARO_1, CANTIDAD_churn, ANTIGUEDAD_MESES_PROM, ANTIGUEDAD_MESES_MED, AVG_TARIFA_TIGO, AVG_TIGO_MEGAS, PRECIO_MEGA_TIGO_1, AVG_TARIFA_ETB, AVG_ETB_MEGAS, PRECIO_MEGA_ETB_1, AVG_TARIFA_MOVISTAR, AVG_MOVISTAR_MEGAS, AVG_MOV_MEGAS, OPERADOR_TIGO_OOKLA, OPERADOR_ETB_OOKLA, OPERADOR_MOVISTAR_OOKLA, SUMA_OPERADORES, RANK1_VEL_DWLD, OP_CLARO, CANTIDAD, PENETRACION, OCUPACION_DW, OCUPACION_UP, ALFA, BETA, MEGA, NIVEL_ALARMA_MALO, NIVEL_ALARMA_BUENO, DIVISION, AREA, ZONA, CIUDAD, DISTRITO, comp_tarifa, operador_menor_tarifa, ALFA_tarifa, MES_x, Llamadas_3M, MES_y, Llamadas_Admin_3M, MES, Llamadas_Tecn_3M]
Index: []

In [154]:
data[['Llamadas_3M','Llamadas_Admin_3M','Llamadas_Tecn_3M']].describe()

        Llamadas_3M  Llamadas_Admin_3M  Llamadas_Tecn_3M
count  2.365972e+06       2.365972e+06      2.365972e+06
mean   3.488347e+00       3.020516e+00      4.045069e-01
std    4.206366e+00       3.577072e+00      1.181223e+00
min    0.000000e+00       0.000000e+00      0.000000e+00
25%    1.000000e+00       1.000000e+00      0.000000e+00
50%    2.000000e+00       2.000000e+00      0.000000e+00
75%    5.000000e+00       4.000000e+00      0.000000e+00
max    3.730000e+02       2.500000e+02      1.210000e+02

In [155]:
data.drop(columns=['MES_x','MES_y','MES'],inplace=True)

In [156]:
###  VAlidar  ALFA y BETA (tarifa) por NODO

In [157]:
import gc
del un_llamadas
del pv_cantidad_llamadas
gc.collect()

123

### Calidad

In [158]:
#data_cal=pd.read_csv('user_rssi_device.csv',sep=';', header = 0)
#data_cal

In [159]:
#data_cal['MES']=(data_cal['fecha']%100)

In [160]:
#data.dtypes['FECHA']

In [161]:
#data_cal['MES']=data_cal['MES'].astype('Int64')

In [162]:
#data_cal['cuenta']=data_cal['cuenta'].astype('Int64')
#data_cal['cuenta']=data_cal['cuenta'].astype(str)

In [163]:
#data_cal=data_cal.groupby(['cuenta','MES'])['val_cantidad_muestras','val_muestras_ok'].sum().reset_index()

In [164]:
#data_cal

In [165]:
#data=data.merge(data_cal,left_on=['CUENTA','FECHA'],right_on=['cuenta','MES'],how='left')

In [166]:
#data['ind_calidad']=data['val_muestras_ok']/data['val_cantidad_muestras']

### Dataset Completo

In [167]:
data.columns

Index(['CUENTA', 'COD_SERVICIO', 'Tipo_Servicio', 'COD_NODO', 'ESTRATO',
       'CARTERA', 'CONGELACION', 'VIAJES', 'CAPACIDAD_DE_PAGO',
       'CAUSAS_EXTERNAS', 'COMPETENCIA', 'MAL_SERVICIO', 'NO_UTILIZAR',
       'NO_GUSTO', 'SIN_MOTIVO', 'SIN_CONTACTO', 'OTROS', 'Total_Bajas',
       'fecha', 'CHURN_TEMPRANO', 'INVOLUNTARIO', 'VOLUNTARIO', 'TIPO_RAZON',
       'MESES_ACTIVO', 'CANTIDAD_LLAMADAS', 'CANTIDAD_ADMIN',
       'CANTIDAD_TECNICO', 'CAMPANA_HBO', 'CAMPANA_FOX', 'CAMPANA_ADULTO',
       'CAMPANA_EQUIPOS_ADIC', 'CAMPANA_ULTRAWIFI', 'CAMPANA_VOZ',
       'CAMPANA_RETENCION', 'CAMPANA_AFECTACION_SRV', 'FECHA', 'servicio',
       'NODO', 'PART_CANT_CALL', 'CANT_USER', 'PROM_VEL', 'VEL_ME_8',
       'VEL_10_25', 'VEL_30', 'VEL_40_50', 'VEL_MA_60', 'CONVERGENTE',
       'PROM_VEL_HOGAR', 'MEDIANA_VEL', 'PROM_RENTA', 'PRECIO_MEGA_CLARO_1',
       'CANTIDAD_churn', 'ANTIGUEDAD_MESES_PROM', 'ANTIGUEDAD_MESES_MED',
       'AVG_TARIFA_TIGO', 'AVG_TIGO_MEGAS', 'PRECIO_MEGA_TIGO_1',
       'AVG_TARIFA_ETB', 'AVG_ETB_MEGAS', 'PRECIO_MEGA_ETB_1',
       'AVG_TARIFA_MOVISTAR', 'AVG_MOVISTAR_MEGAS', 'AVG_MOV_MEGAS',
       'OPERADOR_TIGO_OOKLA', 'OPERADOR_ETB_OOKLA', 'OPERADOR_MOVISTAR_OOKLA',
       'SUMA_OPERADORES', 'RANK1_VEL_DWLD', 'OP_CLARO', 'CANTIDAD',
       'PENETRACION', 'OCUPACION_DW', 'OCUPACION_UP', 'ALFA', 'BETA', 'MEGA',
       'NIVEL_ALARMA_MALO', 'NIVEL_ALARMA_BUENO', 'DIVISION', 'AREA', 'ZONA',
       'CIUDAD', 'DISTRITO', 'comp_tarifa', 'operador_menor_tarifa',
       'ALFA_tarifa', 'Llamadas_3M', 'Llamadas_Admin_3M', 'Llamadas_Tecn_3M'],
      dtype='object')

In [168]:
sel_variables_descrip=['CUENTA','FECHA','COD_NODO','INVOLUNTARIO', 'VOLUNTARIO','DIVISION', 'AREA', 'ZONA', 'CIUDAD', 'DISTRITO','CHURN_TEMPRANO']
sel_variables_razones=['CONGELACION','VIAJES','CAPACIDAD_DE_PAGO','CAUSAS_EXTERNAS','COMPETENCIA','MAL_SERVICIO','NO_UTILIZAR',
                    'NO_GUSTO','SIN_MOTIVO','SIN_CONTACTO','TRASLADOS','OTROS','CAMBIO_DE_SERVICIO','CAMBIO_TARIFA','EMPAQUETAMIENTO',
                    'CESION_DE_CONTRATO','UNIFICACION_EMPAQUETAMIENTO','BAJAS_TOTAL']
sel_variables_causas2=['ALFA_tarifa','ALFA', 'BETA', 'MEGA','Llamadas_3M', 'Llamadas_Admin_3M', 'Llamadas_Tecn_3M','PROM_VEL_HOGAR']

In [169]:
#data.to_csv('dataSetCompleto_actual.csv',index=False)

In [170]:
#data[sel_variables_descrip+sel_variables_razones+sel_variables_causas2].to_csv('dataSet_variables.csv')

## Procesar Nodos

### Validacion Nodos Internet

In [171]:
data['servicio'].value_counts()

@    992998
T    947518
V    800259
Name: servicio, dtype: int64

In [172]:
data=data[data['servicio']=='@']

In [173]:
data['servicio'].value_counts()

@    992998
Name: servicio, dtype: int64

In [174]:
data['COD_NODO'].isnull().sum()

0

In [175]:
data['FECHA'].isnull().sum()

0

### Fin validación

In [176]:
data['VOLUNTARIO'].value_counts()

 0    533413
-1    459585
Name: VOLUNTARIO, dtype: int64

In [177]:
sel_variables_descrip=['CUENTA','FECHA','COD_NODO','INVOLUNTARIO', 'VOLUNTARIO','DIVISION', 'AREA', 'ZONA', 'CIUDAD', 'DISTRITO','CHURN_TEMPRANO']
sel_variables_razones=['CONGELACION','VIAJES','CAPACIDAD_DE_PAGO','CAUSAS_EXTERNAS','COMPETENCIA','MAL_SERVICIO','NO_UTILIZAR',
                    'NO_GUSTO','SIN_MOTIVO','SIN_CONTACTO','OTROS','Total_Bajas']
sel_variables_causas2=['ALFA_tarifa','ALFA', 'BETA', 'MEGA','Llamadas_Admin_3M', 'Llamadas_Tecn_3M','PENETRACION','OCUPACION_DW']

In [178]:
var_agrupacion_sum=['CONGELACION','VIAJES','CAPACIDAD_DE_PAGO','CAUSAS_EXTERNAS','COMPETENCIA','MAL_SERVICIO','NO_UTILIZAR',
                    'NO_GUSTO','SIN_MOTIVO','SIN_CONTACTO','OTROS','Total_Bajas','Llamadas_Admin_3M', 'Llamadas_Tecn_3M']
var_agrupacion_mean=['ALFA_tarifa','ALFA', 'BETA', 'MEGA','PENETRACION','OCUPACION_DW']

In [179]:
data=data[data['VOLUNTARIO']==-1]

In [180]:
#for col in sel_variables_razones :
#    data[col]=data[col]*-1

In [181]:
#data=data[(data['BAJAS_TOTAL']>=1)&(data['BAJAS_TOTAL']<=2)]

In [182]:
#data=data[(data['FECHA']>=1)&(data['FECHA']<=10)]

In [183]:
nodos_tab=data.groupby(['FECHA','COD_NODO'])[['CANT_USER']].min().reset_index()

In [184]:
nodos_tab_bajas=data.groupby(['FECHA','COD_NODO'])[var_agrupacion_sum].sum().reset_index()

In [185]:
data_comp=data[['COD_NODO','FECHA']+var_agrupacion_mean].groupby(['COD_NODO','FECHA']).mean()
data_comp.reset_index(inplace=True)
data_comp.sort_values(['COD_NODO','FECHA'],inplace=True)

In [186]:
Nodos_Final=nodos_tab.merge(nodos_tab_bajas, left_on=['COD_NODO','FECHA'], right_on=['COD_NODO','FECHA'])
Nodos_Final=Nodos_Final.merge(data_comp, left_on=['COD_NODO','FECHA'], right_on=['COD_NODO','FECHA'])
Nodos_Final

,FECHA,COD_NODO,CANT_USER,CONGELACION,VIAJES,CAPACIDAD_DE_PAGO,CAUSAS_EXTERNAS,COMPETENCIA,MAL_SERVICIO,NO_UTILIZAR,NO_GUSTO,SIN_MOTIVO,SIN_CONTACTO,OTROS,Total_Bajas,Llamadas_Admin_3M,Llamadas_Tecn_3M,ALFA_tarifa,ALFA,BETA,MEGA,PENETRACION,OCUPACION_DW
0,1,01S,159.0,0,0,0,0,0,1,0,0,0,0,0,1,3.0,0.0,NaN,0.420691,0.824528,0.510220,0.250360,0.395358
1,1,02S,135.0,2,0,0,0,0,0,0,0,1,0,1,4,13.0,3.0,1.274914,0.757639,0.938875,0.806965,0.206704,0.395358
2,1,03J,32.0,0,0,0,0,0,1,1,0,0,0,0,2,13.0,0.0,NaN,NaN,1.483871,NaN,0.284553,0.311891
3,1,05J,63.0,0,0,1,0,0,0,0,0,2,0,0,3,25.0,1.0,NaN,NaN,NaN,3.477203,0.311881,0.273088
4,1,060,388.0,0,0,0,0,0,1,1,0,2,0,0,4,18.0,3.0,0.822443,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124375,11,ZVD,381.0,0,1,1,0,1,2,0,1,0,0,0,6,16.0,0.0,0.891455,1.388825,1.414188,0.982066,0.311698,0.540601
124376,11,ZVG,293.0,1,0,1,0,0,0,0,0,0,0,0,2,5.0,0.0,1.054891,NaN,1.596154,NaN,0.431105,0.385325
124377,11,ZVS,465.0,1,1,3,0,0,2,0,0,4,0,0,11,39.0,0.0,1.003476,4.500045,3.247191,1.385827,0.407743,0.388761
124378,11,ZVT,140.0,0,0,0,0,0,0,0,0,1,0,0,1,6.0,0.0,0.749528,0.763597,0.604651,1.262872,0.444444,0.412226
124379,11,ZVZ,447.0,2,0,0,0,0,1,1,0,1,0,0,5,16.0,2.0,NaN,1.920703,1.729134,1.110789,0.374907,0.528656

In [ ]:
#  aqui voy

In [187]:
### Promedio sin tasa

Nodos_Final['Llamadas_Admin_3M']=Nodos_Final['Llamadas_Admin_3M']/Nodos_Final['CANT_USER']
Nodos_Final['Llamadas_Tecn_3M']=Nodos_Final['Llamadas_Tecn_3M']/Nodos_Final['CANT_USER']
#Nodos_Final['Llamadas_Tecn_3M']=Nodos_Final['Llamadas_Tecn_3M']/Nodos_Final['CANT_USER']

In [188]:
#Nodos_Final['ind_churn']=np.where(Nodos_Final['CANT_USER']>0,Nodos_Final['BAJAS_TOTAL']/Nodos_Final['CANT_USER'],np.nan)
Nodos_Final['ind_churn']=np.where(Nodos_Final['CANT_USER']>0,Nodos_Final['Total_Bajas']/Nodos_Final['CANT_USER'],np.nan)

## Seleccion de Nodos

In [189]:
print('Nodos: ',Nodos_Final['COD_NODO'].nunique(), ' Registros (nodosxmes): ', len(Nodos_Final))

Nodos:  15937  Registros (nodosxmes):  124380

In [190]:
Nodos_Final_fil=Nodos_Final[Nodos_Final['CANT_USER']>30]

In [191]:
print('Nodos: ',Nodos_Final_fil['COD_NODO'].nunique(), ' Registros (nodosxmes): ', len(Nodos_Final_fil))

Nodos:  12700  Registros (nodosxmes):  115089

In [192]:
Nodos_Final_fil=Nodos_Final_fil.merge(Nodos_Final_fil['COD_NODO'].value_counts().to_frame(), left_on='COD_NODO', right_index=True, how='left')

In [193]:
Nodos_Final_fil=Nodos_Final_fil[Nodos_Final_fil['COD_NODO_y']==11]

In [194]:
Nodos_Final_fil.rename(columns={'COD_NODO_x':'COD_NODO','COD_NODO_y':'nMeses'},inplace=True)

In [195]:
print('Nodos: ',Nodos_Final_fil['COD_NODO'].nunique(), ' Registros (nodosxmes): ', len(Nodos_Final_fil))

Nodos:  5605  Registros (nodosxmes):  61655

In [196]:
data_comp=Nodos_Final_fil[['COD_NODO','FECHA']+sel_variables_causas2].groupby(['COD_NODO','FECHA']).mean()
data_comp.reset_index(inplace=True)
data_comp.sort_values(['COD_NODO','FECHA'],inplace=True)
data_comp_pt=pd.pivot_table(data_comp,index='FECHA',columns='COD_NODO')

In [197]:
list_eliminar=[]
i=0
for col in sel_variables_causas2:
    print(col)
    df_aux=data_comp_pt[col].isnull().sum().to_frame()
    df_aux=df_aux[df_aux[0]>2]
    if i==0:
        list_eliminar=list(df_aux.index)
    else :
        list_eliminar=list_eliminar+list(df_aux.index)
    i=i+1
list_eliminar = list(set(list_eliminar))

ALFA_tarifa
ALFA
BETA
MEGA
Llamadas_Admin_3M
Llamadas_Tecn_3M
PENETRACION
OCUPACION_DW

In [198]:
len(list_eliminar)

1100

In [199]:
data_comp_pt=data_comp_pt.interpolate()
data_comp_pt.reset_index(inplace=True)
data_comp_un=data_comp_pt.melt(id_vars=['FECHA'], var_name=['varible','COD_NODO'],value_name='valor')
data_comp=pd.pivot_table(data_comp_un,index=['COD_NODO','FECHA'],columns='varible')
data_comp.columns = data_comp.columns.droplevel()
data_comp.reset_index(inplace=True)

In [200]:
Nodos_Final_fil=Nodos_Final_fil.drop(columns=sel_variables_causas2).merge(data_comp,left_on=['COD_NODO','FECHA'],right_on=['COD_NODO','FECHA'])

In [201]:
### Eliminar Nodos con mayor imputaciones
Nodos_Final_fil=Nodos_Final_fil[~Nodos_Final_fil['COD_NODO'].isin(list_eliminar)]

In [202]:
print('Nodos: ',Nodos_Final_fil['COD_NODO'].nunique(), ' Registros (nodosxmes): ', len(Nodos_Final_fil))

Nodos:  4505  Registros (nodosxmes):  49555

In [203]:
Nodos_Final_fil=Nodos_Final_fil.merge(maestro_data, left_on=['COD_NODO'], right_on=['COD_NODO'], how='left')

In [204]:
print('Nodos: ',Nodos_Final_fil['COD_NODO'].nunique(), ' Registros (nodosxmes): ', len(Nodos_Final_fil))

Nodos:  4505  Registros (nodosxmes):  51689

# Outliers

In [205]:
Nodos_Final_fil[sel_variables_causas2].describe()

,ALFA_tarifa,ALFA,BETA,MEGA,Llamadas_Admin_3M,Llamadas_Tecn_3M,PENETRACION,OCUPACION_DW
count,39432.000000,51165.000000,51454.000000,51188.000000,51689.000000,51689.000000,51689.000000,51628.000000
mean,0.979724,1.329461,1.286775,1.039191,0.070161,0.008313,0.371876,0.530385
std,0.198288,1.625889,1.131374,0.689453,0.050574,0.014179,0.098035,0.153742
min,0.446971,0.000000,0.100062,0.000000,0.000000,0.000000,0.113691,0.000000
25%,0.838902,0.558801,0.868731,0.547553,0.035294,0.000000,0.303265,0.420168
50%,0.962140,1.029155,1.128344,0.917436,0.059347,0.003876,0.356554,0.524379
75%,1.096527,1.740192,1.474269,1.411976,0.092179,0.010714,0.420619,0.634469
max,2.567901,119.079644,100.000000,13.884362,0.805195,0.518797,1.151235,1.045716

In [206]:
outliers=Nodos_Final_fil[sel_variables_causas2].quantile(0.99)
outliers

ALFA_tarifa          1.516800
ALFA                 5.547088
BETA                 3.919192
MEGA                 3.144476
Llamadas_Admin_3M    0.246518
Llamadas_Tecn_3M     0.062201
PENETRACION          0.660696
OCUPACION_DW         0.901475
Name: 0.99, dtype: float64

In [207]:
data_finalV2=Nodos_Final_fil.copy()

In [208]:
for col in sel_variables_causas2:     
    data_finalV2['val_'+col]=np.where(data_finalV2[col]>outliers[col],1,0)

In [209]:
colums_validacion=list(data_finalV2.filter(regex=("val_.*")).columns)
colums_validacion

['val_ALFA_tarifa',
 'val_ALFA',
 'val_BETA',
 'val_MEGA',
 'val_Llamadas_Admin_3M',
 'val_Llamadas_Tecn_3M',
 'val_PENETRACION',
 'val_OCUPACION_DW']

In [210]:
res=data_finalV2.groupby('COD_NODO')[colums_validacion].max()

In [211]:
res['val']=res.max(axis=1)

In [212]:
res.sum()

val_ALFA_tarifa           123
val_ALFA                  376
val_BETA                  399
val_MEGA                  362
val_Llamadas_Admin_3M     402
val_Llamadas_Tecn_3M      407
val_PENETRACION            85
val_OCUPACION_DW          238
val                      1626
dtype: int64

In [213]:
Nodos_Final_fil=Nodos_Final_fil[Nodos_Final_fil['COD_NODO'].isin(res[res['val']==0].index)]

In [214]:
print('Nodos: ',Nodos_Final_fil['COD_NODO'].nunique(), ' Registros (nodosxmes): ', len(Nodos_Final_fil))

Nodos:  2879  Registros (nodosxmes):  33110

In [215]:
Nodos_Final_fil[sel_variables_causas2].describe()

,ALFA_tarifa,ALFA,BETA,MEGA,Llamadas_Admin_3M,Llamadas_Tecn_3M,PENETRACION,OCUPACION_DW
count,24210.000000,32837.000000,32970.000000,32843.000000,33110.000000,33110.000000,33110.000000,33058.000000
mean,0.977127,1.121190,1.203535,0.939373,0.064959,0.006932,0.368277,0.530226
std,0.183071,0.841582,0.497725,0.587523,0.041724,0.009491,0.088019,0.141458
min,0.464753,0.001073,0.130435,0.001944,0.000000,0.000000,0.113691,0.000000
25%,0.847321,0.509546,0.867209,0.502863,0.033981,0.000000,0.304807,0.428710
50%,0.963110,0.915530,1.114215,0.838239,0.056818,0.003594,0.356208,0.528716
75%,1.096842,1.547715,1.430497,1.301638,0.087065,0.009780,0.415194,0.631619
max,1.516707,5.543854,3.905138,3.143584,0.246479,0.062201,0.659483,0.901423

### Guardar Resultado

In [216]:
Nodos_Final_fil.to_csv('../NODOS_FILTRADOS_base2(enfoque_llamadas).csv',sep=';',index=False)